.heading-primary {
    font-size: var(--fs-heading-primary);
    margin-bottom: var(--mb-main);
    
}

.quote {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

}