.heading-primary {
    @extend %margin-bm;
    font-weight: 600;
    color: $color-b1-heading;
    font-size: 2rem;
    line-height: 1.1;
    
}



.quote {
    font-size: 1.3rem;
    font-weight: 500;
    color: $color-b1-p;
    opacity: 50%;
    
}

.name {
    color: $color-b1-p;
    font-size: 1.3rem;
}

.title {
    color: $color-b1-p;
    font-size: 1.1rem;
    color: $color-b1-p;
    opacity: 50%;
    
}

.box-3, .box-4 {
    .heading-primary {
        @include text-color($color-b3-heading);
        
    }
    q {
        @include text-color($color-b3-heading);   
    }
    .name {
        @include text-color($color-b3-heading);
    }
    
    .title {
        @include text-color($color-b3-heading);
        opacity: 70%;
    }

}