// bg-color
$bg-color-box-1: rgba(115, 63, 200, 1);
$bg-color-box-2: rgba(72, 85, 106, 1);
$bg-color-box-3-4: rgba(255, 255, 255, 1);
$bg-color-box-5: rgba(25, 32, 45, 1);

//text-color
$color-b1-heading: #fff;
$color-b1-p: rgba(207, 207, 207, 1);

$color-b2-heading: #fff;
$color-b2-p: rgba(255, 255, 255, 1);

$color-b3-heading: rgba(72, 85, 106, 1);
$color-b3-p: rgba(72, 85, 106, 1);

$color-b4-heading: rgba(72, 85, 106, 1);
$color-b4-p: rgba(72, 85, 106, 1);

$color-b5-heading: rgba(236, 242, 248, 1);
$color-b5-p: rgba(255, 255, 255, 1);

$color-b6-heading: rgba(72, 85, 106, 1);
$color-b6-p: rgba(72, 85, 106, 1);

//font-size
$box-border: .5rem;


//border 

