:root {
    // bg-color
--clr-bg-body: #F2F2F2;
--clr-bg-box-1: rgba(115, 63, 200, 1);
--clr-bg-box-2: rgba(72, 85, 106, 1);
--clr-bg-box-34: rgba(255, 255, 255, 1);
--clr-bg-box-5: rgba(25, 32, 45, 1);

//text-color
--clr-b125-name:rgba(255, 255, 255, 1); // for b1, b2  b4
--clr-b125-title: rgba(255, 255, 255, .6); // for b1 , b2 b4
--clr-b34-name: rgba(72, 85, 106, 1);  //for b3 b5
--clr-b34-title: rgba(72, 85, 106, .6);  //for b3  b5


--clr-b125-heading: #fff;
--clr-b125-p: rgba(207, 207, 207, .6);
--clr-b34-heading: rgba(72, 85, 106, 1);
--clr-b34-p: rgba(72, 85, 106, .6);



//font-size
--fs-name: 1.3rem;
--fs-title: 1.1rem;
--fs-heading-primary: 2rem;
--fs-paragraph: 1.3rem;

//margin-bottom
--mb-main: 1.6rem; // margin for heading and paragraph
--mb-sub: 2.4rem; // margin btween boxex

//padding main
--pd-main: 2.3rem;



}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.3rem;
    background-color: var(--clr-bg-body);
    
}